/* 
Table of Contents 

Elements
IDs
Classes
Media Queries

In alphabetical order.
*/

a {
  color: #d8b17a;
  text-decoration: none;
}

a:hover {
  color: grey;
}

body {
  margin: 0;
}

footer {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

html, body {
  height:100%;
}

html { 
    background: url(/static/img/f9bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  header {
    display: flex;
    flex-direction: row;
    align-self: center;
    padding-top: 40px;
  }
  
  h1 {
    font-size: 46px;
  }

  h1 {
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    color: white;
  }

  p, h1 {
    margin: 0;
    color: white;
  }

  p {
    font-family: 'Fauna One', serif;
  }

  #container {
    display: flex;
    justify-content: center;
    height: 100%;
  }

  #container-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 100%;
    width: 625px;
  }

  #countdown {
    height: 100px;
  }

  #countdown-container, #launch-info-container {
    width: auto;
  }

  #countdown-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    padding-bottom: 20px;
    align-items: center;
  }

  #launch-items {
    width: auto;
    display: flex;
    flex-direction: column;
  }

  #footer-container {
    text-align: center;
  }

  #launch-info-container {
    padding: 10px;
    text-align: left;
  }

  #logo-container {
    padding: 10px;
  }

  #mission{
    text-align: left;
  }

  #mission-status-p {
    display: none;
  }

  #no-stream-p {
    color: grey;
  }

  .cd-num {
    padding: 3px;
    width: 45px;
    display: inline-block;
    font-weight: bolder;
  }

  .countdown-item {
    font-size: 36px;
  }

  .footer-item {
    padding: 7px;
  }

  .launch-info-item, .info-link {
    font-size: 18px;
  }

  .misssion_description {
    font-size: 14px;
    font-style: italic;
  }

  /* Mobile  */
  @media screen and (max-width: 850px) {
    .footer-text {
      font-size: 12px;
    }

  }

  /* Laptops  */
  @media screen and (max-height: 750px) {
    #container-main {
      /* justify-content: flex-start; */
    }
  }