/* 
Table of Contents 

Elements
IDs
Classes
Media Queries

In alphabetical order.
*/

:root {
  --primary-font-color: #209500;
  --link-color: #005b95;
  --link-hover: grey;
}

* {
  font-family: 'Share Tech Mono', monospace;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
}

body {
  margin: 0;
  color: var(--primary-font-color);
}

footer {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  padding-top: 15px;
}

html, body {
  height:100%;
}

html { 
    /* background: url(/static/img/f9bg-jpg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    background-color: black;
  }

  header {
    display: flex;
    flex-direction: row;
    align-self: center;
    padding-top: 40px;
    width: 100%;
  }
  
  h1 {
    font-size: 46px;
  }

  h1 {
    /* font-family: 'Playfair Display', serif; */
    font-weight: normal;
    /* color: var(--primary-font-color); */
  }

  p, h1 {
    margin: 0;
    /* color: var(--primary-font-color); */
  }

  /* p {
    font-family: 'Fauna One', serif;
  } */

  #container {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
  }

  #container-main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 625px;
    border-style: solid;
    border-width: 5px;
    border-color: var(--primary-font-color);
  }

  #countdown {
    height: 100px;
  }

  #countdown-container, #launch-info-container {
    width: auto;
  }

  #countdown-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    padding-bottom: 20px;
    align-items: center;
  }

  #launch-items {
    width: auto;
    display: flex;
    flex-direction: column;
  }

  #footer-container {
    text-align: center;
  }

  #launch-info-container {
    padding: 10px;
    text-align: left;
  }

  #logo-container {
    padding: 10px;
  }

  #mission{
    text-align: left;
    padding: 10px;
  }

  #mission-status-p {
    display: none;
  }

  #no-stream-p {
    color: grey;
    font-size: 16px;
  }

  .cd-num {
    padding: 3px;
    width: 45px;
    display: inline-block;
    font-weight: bolder;
  }

  .countdown-item {
    font-size: 36px;
  }

  .footer-item {
    padding: 7px;
  }

  .footer-text {
    font-size: 14px;
  }

  .launch-info-item, .info-link {
    font-size: 15px;
  }

  .misssion_description {
    font-size: 14px;
    font-style: italic;
  }

  .mission-title {
    /* font-family: 'Playfair Display', serif; */
    /* color: var(--primary-font-color); */
    font-size: 20px;
  }

  /* Mobile  */
  @media screen and (max-width: 625px) {
    .footer-text {
      font-size: 12px;
    }
    #countdown-container {
      flex-direction: column;
    }
    html, body {
      height: auto;
      width: 100%;
    }

  }

  /* Laptops  */
  @media screen and (max-height: 750px) {
    html, body {
      height: auto;
      width: 100%;
    }
  }