/* 
Table of Contents 

Elements
IDs
Classes
Media Queries

In alphabetical order.
*/

a {
  color: #d8b17a;
  text-decoration: none;
}

a:hover {
  color: grey;
}

body {
  margin: 0;
}

footer {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

html, body {
  height:100%;
}

html { 
    background: url(/static/img/f9bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-self: flex-start;
    padding-top: 40px;
    padding-left: 20px
  }
  
  h1 {
    font-size: 32px;
  }

  h1, .countdown-item {
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    color: white;
  }

  p, h1 {
    margin: 0;
    color: white;
  }

  p {
    font-family: 'Fauna One', serif;
  }

  #container {
    display: flex;
    justify-content: center;
    height: 100%;
  }

  #container-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 100%;
    width: 800px;
  }

  #countdown-container, #launch-info-container {
    width: auto;
  }

  #countdown-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    padding-bottom: 20px;
  }

  #countdown-items {
    width: auto;
    display: flex;
    flex-direction: column;
  }

  #footer-container {
    text-align: center;
  }

  #launch-info-container {
    padding-top: 20px;
    text-align: left;
  }

  #logo-small {
    padding-right: 20px;
  }

  #mission-status-p {
    display: none;
  }

  #no-stream-p {
    color: grey;
  }

  .cd-num {
    display: inline-block;
    width: 35px;
  }

  .countdown-item {
    font-size: 28px;
  }

  .footer-item {
    padding: 7px;
  }

  .launch-info-item, #stream-link {
    font-size: 16px;
  }

  /* Mobile  */
  @media screen and (max-width: 850px) {
    .footer-text {
      font-size: 12px;
    }

  }

  /* Laptops  */
  @media screen and (max-height: 750px) {
    #container-main {
      /* justify-content: flex-start; */
    }
  }