html, body {
    height: 100%;
}

body {
    background-color: #11131a;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

a {
    color: #b8c9ff;
}

a:hover {
    color: #dbdbdb;
}

#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#left-col,#right-col{
    padding-right: 40px;
    padding-left: 40px;
}

#left-col{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#right-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#count-down {
    color: white;
    font-size: 42px;
}

#mission-title {
    color: white;
    font-size: 42px;
    /*text-align: center;*/
}

#mission-info,#webcast-info  {
    color: white;
}

#mission-info {
    font-size: 28px;
}

#webcast-info {
    font-style: italic;
    font-size: 14px;
    margin-top: 0;
}

#misc-info {
    color: white;
    font-size: 18px;
}

#logo {
    padding-top: 30px;
}

@media only screen and (max-width:950px) {
    #wrapper {
        flex-direction: column;
    }

    html, body {
    height: auto;
    }

    #right-col {
        align-items: center;
    }

    #mission-info, #misc-info, #mission-title {
        text-align: center;
    }

    #count-down {
        font-size: 54px;
    }
}

@media only screen and (max-width:500px) {
    h1 {
        margin-top: 0;
    }

    #logo {
        width: 300px;
        height: auto;
    }

    #mission-title {
        font-size: 7vw;
        text-align: center;
    }

    #mission-info {
        font-size: 5vw;
    }

    #misc-info {
        font-size: 3.5vw;
    }

    #left-col,#right-col {
        padding-right: 20px;
        padding-left: 20px;
    }
}