<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Next Launch</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="icon" type="img/png" href="{{ url_for('static', filename='img/icon.png') }}">

  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Fauna+One&display=swap" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div id="container">
      <div id="container-main">
        <header>
          <h1 id="header-text">NEXT LAUNCH</h1>
        </header>
    
        <div id="launch-items">
          <div id="countdown-container">
            <div id="logo-container">
              <img src="{{ url_for('static', filename='img/logo-main.png') }}">
            </div>
            <div id="launch-info-container">
              <!-- If the length of the agency is too long, use the abbreviation instead. -->
              {% if ( lsp|length>12 ) %}
                <p class="launch-info-item">Agency: {{ lsp_abbrev }}</p>
              {% else %}
                <p class="launch-info-item">Agency: {{ lsp }}</p>
              {% endif %}
              <p class="launch-info-item">Mission: {{ mission }}</p>
              <p class="launch-info-item">Departure: {{ launch_time_date }}</p>

              <!-- If there is a link to a video stream, display it. Otherwise, show a message indicating that there is not a stream available. -->
              {% if ( stream_url != None) %}
                <a class="info-link" href={{ stream_url }} target="_blank">Video Stream Available</a>
              {% else %}
                <p id="no-stream-p">Video Stream Unavailable</p>
              {% endif %} 
            </div>
          </div>

          <div id="countdown">
            <p class="countdown-item" id="cd-elements">
              T - <span class="cd-num" id="days-num">00</span>:<span class="cd-num" id="hours-num">00</span>:<span class="cd-num" id="mins-num">00</span>:<span class="cd-num" id="seconds-num">00</span>
            </p>
            <p class="countdown-item" id="mission-status-p">Mission in </br>Progress</p>
          </div>

        </div>

        <footer>
          <div id="footer-container">
            <div class="footer-item">
              <!-- <a href="https://twitter.com/NextLaunchInfo" target="_blank"><img id="tw-logo" src="/static/img/tw.png"></a> </br> -->
              <a href="https://twitter.com/NextLaunchInfo" target="_blank"><img id="tw-logo" src="{{ url_for('static', filename='img/tw.png') }}"></a> </br>
            </div>
            <div class="footer-item">
              <p class="footer-text"><a href="https://twitter.com/BCBreeden" target="_blank">A Project By</br>Brian Breeden</a></p>
            </div>
          </div>    
        </footer>
    
      </div>
    </div>
    
    
      <!--Countdown Script-->
    <script>
      // Set the date we're counting down to
      var countDownDate = new Date({{ net }});

      // date for testing purposes only.
      // var countDownDate = new Date(2020, 4, 16, 12, 24, 0);

      offset = countDownDate.getTimezoneOffset();
      countDownDate.setHours(countDownDate.getHours() - (offset/60));
    
      // Update the count down every 1 second
      var x = setInterval(function() {
    
      // Get today's date and time
      var now = new Date().getTime();
    
      // Find the distance between now and the count down date
      var distance = countDownDate - now;
    
      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      if (days<=0){
        days = '00'
      } else {
      days = (('00' + days).substr(-2))
      }
    
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      if (hours<=0){
        hours = '00'
      } else {
      hours = (('00' + hours).substr(-2))
      }
    
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      if (minutes<=0){
        minutes = '00'
      } else {
      minutes = (('00' + minutes).substr(-2))
      }
    
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
      if (seconds<=0){
        seconds = '00'
      } else {
      seconds = (('00' + seconds).substr(-2));
      }
    
      // Display the current countdown by modifying the appropriate elements.    
      document.getElementById("days-num").innerHTML = days;
      document.getElementById("hours-num").innerHTML = hours;
      document.getElementById("mins-num").innerHTML = minutes;
      document.getElementById("seconds-num").innerHTML = seconds;
    
      // If the count down is finished, update the mission status and perform the fade animations on the countdown elements.
      if (distance < 0) {
          clearInterval(x);
          $('#cd-elements').fadeOut(1300);
          setTimeout(function(){ $('#mission-status-p').fadeIn(1300); }, 1500);
          
       }
      }, 1000);
    </script>

</body>
</html>