<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Next Launch</title>

  <link rel="stylesheet" href="static/css/nl.css">
  <link rel="icon" type="image/png" href="/static/img/icon.png">
</head>

<body>

    <div id="wrapper">

        <div id="left-col">
            <img id="logo" src="/static/img/logo.png">
            <p id="count-down">00:00:00:00</p>
        </div>

        <div id="right-col">
            <h1 id="mission-title">{{ name }}</h1>
            <p id="mission-info">
                {{ lsp }} </br>
                <i>{{ launch_time_date }}</i>
            </p>

            <!--Icon conditional. If there is a video stream link value, the active icon will be displayed along with a link attached to the icon. If not, the icon is inactive.-->
            {% if ( stream_url != None) %}
                <a href={{ stream_url }} target="_blank"><img class="icon" src="/static/img/vid_active.png" title="There is a stream available." alt="Video Camera Icon"></a>
            {% else %}
                <img class="icon" src="/static/img/vid_inactive.png" title="There is not a stream available." alt="Video Camera Icon">
                <!--<p id="webcast-info">Webcast Unavailable</p>-->
            {% endif %}


            <p id="misc-info">
                <a href="https://twitter.com/NextLaunchInfo" target="_blank">Twitter Updates</a></br>
                A project by <a href="https://twitter.com/BCBreeden" target="_blank">Brian Breeden</a>.
            </p>
        </div>


    </div>

<!--Countdown Script-->
<script>
    // Set the date we're counting down to
    var countDownDate = new Date({{ net }});
    offset = countDownDate.getTimezoneOffset();
    countDownDate.setHours(countDownDate.getHours() - (offset/60));

    // Update the count down every 1 second
    var x = setInterval(function() {

    // Get today's date and time
    var now = new Date().getTime();

    // Find the distance between now and the count down date
    var distance = countDownDate - now;

    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    days = (('00' + days).substr(-2));

    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    hours = (('00' + hours).substr(-2));

    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    minutes = (('00' + minutes).substr(-2));

    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    seconds = (('00' + seconds).substr(-2));

    // Display the result in the element with id="demo"
    document.getElementById("count-down").innerHTML = days + ":" + hours + ":"
      + minutes + ":" + seconds;

    // If the count down is finished, write some text
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("count-down").innerHTML = "LAUNCH!";
     }
    }, 1000);
</script>

</body>
</html>